body {
  padding: 44px 0 49px 0;
  background: #f0f0f0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 44px;
  background: #29bde0;
}
.nav-bar__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
  background: transparent;
  border: none;
  outline: none;
}
.nav-bar__menu-icon {
  height: 20px;
}
.nav-bar__menu {
  position: absolute;
  top: 0;
  left: -200px;
  z-index: 2;
  height: 100vh;
  width: 200px;
  background: white;
  transition: 0.3s;
}
.nav-bar__menu-items {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
  height: 44px;
  border-bottom: 1px #b9e9f5 solid;
  color: #29bde0;
}
.nav-bar__menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 20px;
  left: 85px;
  border: none;
  outline: none;
  background: transparent;
}
.nav-bar__menu-close-icon {
  height: 20px;
  filter: invert(0.5);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.main__history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
  border: 1px #cacaca solid;
  background: white;
}
.main__arrow {
  position: absolute;
  height: 0;
  width: 0;
  border-width: 10px;
  border-style: solid;
}
.main__arrow--solid {
  border-color: transparent transparent transparent #cacaca;
  right: 10px;
}
.main__arrow--white {
  border-color: transparent transparent transparent white;
  right: 13px;
}
.main__entry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 460px;
  margin-top: 20px;
  border: 1px #cacaca solid;
  background: white;
}
.main__entry-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
  border-bottom: 1px #fbb435 solid;
  background: white;
  color: #fbb435;
}
.main__entry .window {
  position: relative;
  width: calc(100% - 80px);
  height: 400px;
  overflow: hidden;
}
.main__entry .canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  width: calc(300% + 160px);
  transition: 0.8s;
}
.main__entry-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 0 20px 0;
  width: calc((100% - 160px) / 3);
}
.main__entry-pages-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
  width: 100%;
  background: #29bde0;
  color: white;
}
.main__entry-pages-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 40px;
  width: 100%;
  color: #aaa;
}
.main__next-btn {
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  background: white;
}
.main__next-icon {
  height: 0;
  width: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fbb435;
}
.main__indicator-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
  width: 50px;
}
.main__indicator {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  border: 1px #cacaca solid;
  transition: 0.8s;
}
.main__indicator--active {
  background: #fbb435;
}

/*# sourceMappingURL=main.css.map */
